.App {
  background-color: skyblue;
  height: 100%;
  border: solid 2px purple;
  /* WORTHY OF NOTE: this is a Grid component, so layout styling attempts like below do NOT do what you'd be hoping for */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}